@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

p {
  margin: 0 0 1em;
}

section {
  padding: 2em 0;
}

.mySwiper img {
  max-width: 100%;
  max-height: 500px;
  object-fit: cover;
}
